<li class="dropdown" ng-show="isAdmin">
    <a class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li active-link="active" link="users"><a href="#/admin/users"><i
                class="fa fa-pencil fa fa-white"></i> Users</a></li>

        <li active-link="active" link="monitor"><a href="#/monitor"><i class="fa fa-dashboard"></i> </i>
            Monitoring </a></li>
        <li active-link="active" link="monitor"><a href="#/logs"><i class="fa fa-dashboard"></i> </i>
            Logs Level </a></li>
        <li active-link="active" link="metrics"><a href="#/metrics"><i class="fa fa-dashboard"></i> </i>
            Metrics </a></li>
    </ul>
</li>